apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "typeorm-app.fullname" . }}
  labels:
    {{- include "typeorm-app.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "typeorm-app.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "typeorm-app.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP
          envFrom:
            - configMapRef:
                name: {{ include "typeorm-app.fullname" . }}-config
            - secretRef:
                name: {{ include "typeorm-app.fullname" . }}-secret
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- toYaml . | nindent 8 }}
      {{- end }}
